.app{

    .contents{
        width: 100%;
        position: relative;

        > * {
            width: 100vw;
            padding-top: 70px;
            height: calc(100vh - 70px);
        }
    }
}
